<section class="navbar">

  <section class="left">
    
    <a href="#">Nome do Site</a>
    <ul>
      <li [class.selected]="selectedOption === 'pre-match'" (click)="handleOptionToggle('pre-match')" [routerLink]="'pre-match'">Esportes</li>
      <li [class.selected]="selectedOption === 'ao-vivo'" (click)="handleOptionToggle('ao-vivo')">Ao Vivo</li>
    </ul>
  </section>

  <section class="right">
    <button class="btn-register">Cadastrar</button>
    <button class="btn-login">Login</button>
    <section class="country-dropdown">
      <select id="country-select">
        <option value="pais2">BR</option>
        <option value="pais1">🇺🇸</option>
        <option value="pais3">🇫🇷</option>
        <!-- Adicione mais países com bandeiras conforme necessário -->
      </select>
    </section>

    <section class="container">
      <span>Ajuda</span>
      <img src="../../../../../../../assets/img/icons/help.svg" alt="Ajuda" />
    </section>
    
  </section>

</section>
