<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div class="normal-search">
                    <input type="search" class="search" placeholder="Search...">
                    <!-- icon -->
                </div>
            </div>
            <div class="head-content-right">
                <div class="head-menu">
                    <div class="head-menu-item">
                        <button class="head-menu-item-btn ripple">
                            <!-- imagem -->
                        </button>

                    </div>
                    <div class="head-menu-item">
                        <button class="head-menu-item-btn ripple">
                            <!-- icon -->
                        </button>

                    </div>
                    <div class="head-menu-item">
                        <button class="head-menu-item-btn ripple">
                            <!-- icon -->
                        </button>

                    </div>

                </div>
                <div class="head-user-avatar-container">
                    <div class="head-user=avatar">
                        <!-- imagem -->
                        <div class="circle-indicador pulse"></div>
                    </div>

                </div>

            </div>


        </div>

    </div>
</div>